/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  height: 99vh;
  /* background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: animation-banner 10s ease infinite; */
  background: url(http://jeequan.oss-cn-beijing.aliyuncs.com/jeepay/cdn/d/manager/assets/background.346ab302.svg) no-repeat;
  margin-top: -60px;
}

@keyframes animation-banner {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

.title {
  font-size: 3rem;
  font-weight: normal;
  font-size: 3.5rem;
  font-weight: 700;

  -webkit-text-fill-color: transparent;
  background: linear-gradient(45deg, #5cceed 0%, #005bea 80%);

  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 0;
}

.subtitle {
  font-weight: 700;
  font-size: 1.4rem;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(45deg, #5cceed 0%, #005bea 80%);
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
